<header class="header-devise" data-controller="menu">
  <nav class="header-nav" aria-label="Header Navigation">
    <div class="header-logo">
      <%= link_to image_tag('logos/logo.png', alt: 'Logo de [Nombre de la Tienda]'), root_path, title: 'Inicio de [Nombre de la Tienda]' %>
    </div>
  </nav>
</header>
