.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px;
  gap: 20px;
  min-height: calc(100vh - 100px);

  .cart-sections {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 32px;


    .cart-items {
      flex: 1;
      min-width: 60%;
      background: white;
      border-radius: 6px;
      padding: 20px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .1);

      .cart-item-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        //border-bottom: 1px solid #e0e0e0;

        .title {
          font-size: 24px;
          font-weight: 600;
          color: #0f1111;
        }

        .cart-actions {

          .clear-cart-button {
            background: transparent;
            border: none;
            color: #1196AB;
            font-size: 13px;
            font-weight: 400;
            cursor: pointer;
            font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }



      .cart-item {
        display: flex;
        padding: 24px 0;
        border-top: 1px solid #e0e0e0;

        .item-image {
          max-width: 120px;
          width: 100%;
          height: 120px;
          margin-right: 20px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            object-fit: contain;
          }
        }

        .item-details {
          display: flex;
          width: 100%;
          height: 120px;
          padding: 12px 0;
          gap: 24px;

          .seccion-uno {
            display: flex;
            flex-direction: column;
            width: 100%;

            .name {
              font-size: 16px;
              color: #0f1111;
              font-weight: 600;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
              line-height: 18px;
              display: block;
              display: -webkit-box;
              line-clamp: 1;
              -webkit-line-clamp: 1;
            }

            .color {
              font-size: 14px;
              color: rgba(0, 0, 0, .55);
              margin-top: 4px;
              font-weight: 400;
            }


            .product-pricing {
              display: flex;
              flex-direction: column;
              align-items: baseline;




              .price-original {
                text-decoration: line-through;
                font-size: 12px;
                color: rgba(0, 0, 0, .55);
                margin-top: 4px;
                font-weight: 400;
              }

              .section-price {
                display: flex;
                align-items: center;
                gap: 8px;

                .price-discounted {
                  font-size: 14px;
                  color: rgba(0, 0, 0, .55);

                  font-weight: 400;
                }

                .discounted {
                  align-items: center;
                  color: #00a650;
                  display: flex;
                  font-weight: 400;
                  font-size: 12px;
                }

              }

              .price-normal {
                font-size: 14px;
                color: rgba(0, 0, 0, .55);
                margin-top: 4px;
                font-weight: 400;
              }
            }

            form {
              margin-top: auto;

              .link {
                border: none;
                cursor: pointer;
                background: transparent;
                color: #1196AB;
                font-weight: 600;
                font-size: 14px;
                font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
              }
            }
          }

          .seccion-uno-dos {
            display: flex;
            gap: 24px;
            max-width: 262px;
            width: 100%;
          }

          .seccion-dos {
            display: flex;
            max-width: 112px;
            width: 100%;

            .product-actions {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              border-radius: 6px;
              box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
              font-size: 14px;
              height: 32px;
              padding: 0 2px;


              .update-quantity {
                .btn-increase {
                  width: 24px;
                  height: 24px;
                  border-radius: 6px;
                  border: none;
                  color: #1196AB;
                  font-size: 20px;
                  background: transparent;
                  line-height: 1; /* Sin espaciado vertical adicional */
                  margin: 4px;

                  &:hover {
                    background: rgba(0, 0, 0, .04);
                  }
                }
              }

              .cantidad {
                //margin: 0 auto
                font-weight: 400;
                text-align: center;
                line-height: 1;
                font-size: 14px;
              }

              .update-quantity {

                .btn-decrease {
                  width: 24px;
                  height: 24px;
                  margin: 4px;
                  border-radius: 4px;
                  border: none;
                  color: #1196AB;
                  font-size: 24px; /* Tamaño de la fuente */
                  line-height: 1; /* Sin espaciado vertical adicional */
                  background: transparent;

                  &:hover {
                    background: rgba(0, 0, 0, .04);
                  }
                }


              }

              &:hover {
                box-shadow: inset 0 0 0 1px #1196AB;
              }
            }
          }

          .seccion-tres {
            display: flex;
            max-width: 140px;
            width: 100%;

            .item-total-price{
              margin-left:auto;

              .precio-total-item {
                font-size: 20px;
                white-space: nowrap;
                line-height: 18px;
                font-weight: 400;

                font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
              }
            }
          }



          // p {
          //   margin: 5px 0;
          //   color: #666;
          //   font-size: 0.9rem;
          // }
          .item-actions {
            display: flex;
            gap: 10px;
            margin-top: 10px;

            .quantity-field {
              width: 50px;
            }

            .btn {
              padding: 5px 10px;
              font-size: 0.9rem;
              border-radius: 4px;
              cursor: pointer;

              &.btn-danger {
                background-color: #dc3545;
                color: #fff;
              }
              &.btn-primary {
                background-color: #007bff;
                color: #fff;
              }
            }
          }
        }
      }
    }

    .cart-summary {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      padding: 20px;
      background-color: white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
      width: 360px;
      height: fit-content;

      .resumen {
        font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
        margin-bottom: 20px;
        margin-top: 8px;
        font-size: 16px;
        font-weight: 600;
        white-space: pre-wrap;
      }

      .separador {
        margin-bottom: 20px;
        background: rgba(0, 0, 0, .1);
        height: 1px;
      }

      .cantidad-productos {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: rgba(0, 0, 0, .8);
        font-weight: 400;
        margin-top: 4px;

        .descuento-color {
          color: #00a650;
        }
      }

      .total {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        font-size: 18px;
        font-weight: 600;
      }


      .checkout-button {
        display: inline-block;
        text-decoration: none;
        border: none;
        width: 100%;
        padding: 10px;
        background: #DA0E5F;
        color: #fff;
        text-align: center;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 600;
        box-shadow: 0 0 0 0 #fff;

        cursor: pointer;
        font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
        transition: background-color 0.3s, box-shadow 0.3s;

        &:hover {
          background-color: #A60B4C;
        }
      }
    }


    .cart-items-vacio {
      display: flex;
      flex: 1;
      min-width: 60%;
      background: white;
      border-radius: 6px;
      padding: 20px;
      //box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .1);

      .menu-icon {
        width: 140px;
        height: 140px;
        margin-right: 24px;
      }

      .cart-item-header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .carrito-vacio-titulo {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 4px;
        }

        .carrito-vacio-text {
          font-size: 14px;
        }
      }
    }

    .cart-summary-vacio {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      padding: 20px;
      background-color: white;
      width: 360px;
      height: 180px;

      .resumen {
        font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
        margin-bottom: 20px;
        margin-top: 8px;
        font-size: 16px;
        font-weight: 600;
        white-space: pre-wrap;
        color: rgba(0, 0, 0, .25);
      }

      .separador {
        margin-bottom: 20px;
        background: rgba(0, 0, 0, .1);
        height: 1px;
      }

      .cantidad-productos {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: rgba(0, 0, 0, .25);
        font-weight: 400;
        margin-top: 4px;
      }
    }
  }



  .empty-cart {
    text-align: center;
    p {
      font-size: 1.1rem;
      color: #666;
    }
    .btn {
      margin-top: 10px;
      background-color: #007bff;
      color: #fff;
      padding: 10px 15px;
      border-radius: 4px;
    }
  }
}

.cart-container {
  @media (max-width: 768px) {
    padding: 12px;

    .cart-sections {
      flex-direction: column;
      gap: 12px;


      .cart-items {
        padding: 0px;

        .cart-item-header {
          padding-bottom: 0px;
          padding: 16px;

          h2 {
            font-size: 18px;
          }

          .cart-actions {
            .clear-cart-button {
              font-size: 12px;
            }
          }
        }

        .cart-item {
          flex-direction: none;
          gap: 0px;
          padding: 16px;

          .item-image {
            max-width: 100px;
            width: 100%;
            height: 100px;
            margin-right: 16px;
          }

          .item-details {
            flex-direction: column;
            padding: 0;
            gap: 0px;
            height: auto;

            .seccion-uno {
              .name {
                font-size: 14px;
                font-weight: 400;
              }

              .color {
                font-size: 12px;
              }

              .product-pricing {
                .price-original {
                  font-size: 10px;
                }

                .section-price {
                  .price-discounted {
                    font-size: 13px;
                  }

                  .discounted {
                    font-size: 14px;
                  }
                }

                .price-normal {
                  font-size: 13px;
                }
              }

              form {
                margin-top: 4px;
                height: 14px;

                .link {
                  span {
                    font-size: 12px;
                    font-weight: 600;
                  }
                }
              }
            }

            .seccion-uno-dos {
              margin-top: 16px;

              .seccion-tres {
                .item-total-price {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .precio-total-item {
                    font-size: 18px;
                  }
                }
              }
            }



          }
        }
      }

      .cart-summary {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 16px;
        z-index: 0;
        border-radius: 8px 8px  0 0;
        box-shadow: 0 -6px 16px rgba(0, 0, 0, .1);


        .resumen {
          display: none;
          font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
          margin-bottom: 20px;
          margin-top: 8px;
          font-size: 16px;
          font-weight: 600;
          white-space: pre-wrap;
        }

        .separador {
          display: none;
          margin-bottom: 20px;
          background: rgba(0, 0, 0, .1);
          height: 1px;
        }

        .cantidad-productos {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          color: rgba(0, 0, 0, .8);
          font-weight: 400;
          margin-top: 4px;

          .descuento-color {
            color: #00a650;
          }
        }

        .total {
          display: flex;
          justify-content: space-between;
          margin: 20px 0;
          font-size: 18px;
          font-weight: 600;
        }


        .checkout-button {
          display: inline-block;
          border: none;
          width: 100%;
          padding: 10px;
          background: #DA0E5F;
          color: #fff;
          text-align: center;
          border-radius: 50px;
          font-size: 16px;
          font-weight: 600;
          box-shadow: 0 0 0 0 #fff;

          cursor: pointer;
          font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
          transition: background-color 0.3s, box-shadow 0.3s;

          &:hover {
            background-color: #A60B4C;
          }
        }
      }



      .cart-items-vacio {
        background: transparent;
        padding: 4px;

        .menu-icon {
          margin-right: 12px;
        }

      }

      .cart-summary-vacio {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 16px;
        z-index: 10;
        border-radius: 8px 8px  0 0;
        box-shadow: 0 -6px 16px rgba(0, 0, 0, .1);

      }
    }
  }
}
